/* NAV BAR */
.logo {
  width: 135px;
  margin: 20px,20px,20px,20px;
}
.navbar {
  background-color: white;
  border: none;
  padding-bottom: 10px;
}
.navbar-header {
  background: none;
}
.navbar-right li {
  margin-top: -5px;
  display: inline-block;
}
.navbar-right a{
  color: #750223;
}
.navbar-default {
  border-color: none;
}
.navbar-toggle {
  border: none;
  margin-top: 20px;
}
.collapsed {
  margin-top: 20px;
  border: none;
}
.collapse {
  margin-top: 20px;
  border: none;
}
/* FOOTER */
footer {
  display: flex;
  width: 100vw;
  bottom: 0;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: white;

}
footer p {
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
}
/* IMAGE INFO */
.hov-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.content-item {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
.content-item:hover .hov-info{
  opacity: 1;
}
.img-circle {
  display: block;
  width: 50%;
  margin: 0 auto;
  border-radius: 50%;
}

/* TYPE */
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 28px;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #750223;
}
p {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
}
